.charging {
    font-size: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* this section talks about how to stack my images (start) */

.battery0 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animateBattery0 5s linear infinite;
}

.battery1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -93%);
    animation: animateBattery1 5s linear infinite;
}

.battery2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -93%);
    animation: animateBattery2 5s linear infinite;
}

.battery3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -93%);
    animation: animateBattery3 5s linear infinite;
}

.battery4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -93%);
    animation: animateBattery4 5s linear infinite;
}


/* this section talks about how to stack my images (end) */

@keyframes animateBattery0 {
    0% {
        opacity: 1;
        color: red;
    }
    25% {
        opacity: 1;
        color: #ff6600;
    }
    50% {
        opacity: 1;
        color: #00cc00;
    }
    75% {
        opacity: 1;
        color: blue;
    }
    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes animateBattery1 {
    0% {
        opacity: 0;
        color: red;
    }
    24% {
        opacity: 0;
    }
    25% {
        opacity: 1;
        color: #ff6600;
    }
    50% {
        opacity: 1;
        color: #00cc00;
    }
    75% {
        opacity: 1;
        color: blue;
    }
    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes animateBattery2 {
    0% {
        opacity: 0;
        color: red;
    }
    25% {
        opacity: 0;
        color: #ff6600;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        color: #00cc00;
    }
    75% {
        opacity: 1;
        color: blue;
    }
    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes animateBattery3 {
    0% {
        opacity: 0;
        color: red;
    }
    25% {
        opacity: 0;
        color: #ff6600;
    }
    50% {
        opacity: 0;
        color: #00cc00;
    }
    74% {
        opacity: 0;
    }
    75% {
        opacity: 1;
        color: blue;
    }
    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes animateBattery4 {
    0% {
        opacity: 0;
        color: red;
    }
    25% {
        opacity: 0;
        color: #ff6600;
    }
    50% {
        opacity: 0;
        color: #00cc00;
    }
    75% {
        opacity: 0;
        color: blue;
    }
    90% {
        opacity: 0;
    }
    91% {
        opacity: 1;
        color: purple;
    }
    100% {
        opacity: 1;
        color: red;
    }
}