
.fa-android {
	color: green;
	font-weight: 400;
	font-size: 300%;
}

.charging {
	color: black;
	animation: animateCharging 4s linear infinite;
	font-size: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: animateCharging 5s linear infinite;
}

.charging:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	background: rgba(0, 0, 0, .3);
	z-index: 1;
}

/* this section talks about how to stack my images (start) */
.battery0 {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.battery1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-93%);
	z-index: -1;
}
.battery2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-93%);
	z-index: -2;
}
.battery3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-93%);
	z-index: -3;
}
.battery4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-93%);
	z-index: -4;
}
/* this section talks about how to stack my images (end) */






