
.fa-android {
	color: green;
	font-weight: 400;
	font-size: 300%;
}

.charging {
	color: black;
	animation: animateCharging 4s linear infinite;
	font-size: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: animateCharging 5s linear infinite;
}

.charging:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	background: rgba(0, 0, 0, .3);
	z-index: 1;
}

/* this section talks about how to stack my images (start) */
.battery0 {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: animateBattery0 1s linear infinite;
}
.battery1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-93%);
	z-index: -1;
	animation: animateBattery1 1s linear infinite;
}
.battery2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-93%);
	z-index: -2;
	animation: animateBattery2 1s linear infinite;
}
.battery3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-93%);
	z-index: -3;
	animation: animateBattery3 1s linear infinite;
}
.battery4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-93%);
	z-index: -4;
	animation: animateBattery4 1s linear infinite;
}
/* this section talks about how to stack my images (end) */

@keyframes animateBattery0 {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animateBattery1 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animateBattery2 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animateBattery3 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animateBattery4 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}






